.buttondiv {
	width: 150px;
	margin: 200px auto;
}
.loginbutton {
	display: block;
	background: #ff6e00;
	margin-top: 10px;
	text-decoration: none;
	color: white;
	width: 150px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}