<div id="divFolder">            
  <div id="divFolderHeader" class="header">
    <h1 id="hFolderTitle">收件箱</h1>
    <div id="divFolderStatus" class="status">正在加载...</div>
    <div id="divItemCount"><img src="images/btn_prev.gif" alt="Previous Page" title="Previous Page" id="imgPrev" /><span id="spnItems"></span><img src="images/btn_next.gif" alt="Next Page" title="Next Page" id="imgNext" /></div>
  </div>
  <table border="0" cellpadding="0" cellspacing="0" id="tblMain">
    <thead>    
        <tr id="trNoMessages">
          <td colspan="5">There are no messages in this folder.</td>
        </tr>         
    </thead>
    <tbody>
      <tr ng-repeat-start="message in messages">
        <td><img src="images/icon_delete.gif" /></td>
        <td class="from">{{cleanupEmail(message.from)}}</td>
        <td class="attachment" ng-show="message.hasAttachments"><img src="images/icon_attachment.gif" title="Attachment" /></td>
        <td class="subject">{{htmlEncode(message.subject)}}</td>
        <td class="date" nowrap="nowrap">{{message.date}}</td>
      </tr>   
      <tr style="visibility: hidden">
        <td colspan="5"></td>
      </tr>
    </tbody>
  </table>
</div>  