<div id="divFolder">
  <div id="divFolderHeader" class="header">
    <h1 id="hFolderTitle">收件箱 </h1><span id="messageCount">(共{{messageCount}}封邮件)</span><label for="unread">(未读</label><input type="checkbox" id="unread" ng-model="unreadCheckbox"  ng-change="unreadOnchange();">)
    <div id="divItemCount"><input type="button" title="Previous Page" id="buttonPrev" value="上一页" ng-click="prePage()"/><span id="spnItems">当前页({{currentPage}})</span><input type="button" title="Next Page" id="buttonNext" value="下一页" ng-click="nextPage();"/></div>
  </div>
  <table border="0" cellpadding="0" cellspacing="0" id="tblMain">
    <thead>    
        <tr id="trNoMessages">
          <td colspan="5">There are no messages in this folder.</td>
        </tr>         
    </thead>
    <tbody>
      <tr ng-repeat="message in messages">
        <td><img src="images/icon_delete.gif" ng-click="deleteMail($index)"/></td>
        <td class="from">{{cleanupEmail(message.from)}}</td>
        <td class="attachment" ng-show="message.hasAttachments"><img src="images/icon_attachment.gif" title="Attachment" /></td>
        <td class="subject">{{htmlEncode(message.subject)}}</td>
        <td class="date" nowrap="nowrap">{{message.date}}</td>
      </tr>
      <tr style="visibility: hidden">
        <td colspan="5"></td>
      </tr>
    </tbody>
  </table>
</div>