<div id="divReadMail" style="display: none">
  <div class="header">
      <h1 id="hSubject"></h1>
  </div>
  <div class="message-headers">
    <div id="divMessageFrom"></div>
    <div id="divMessageDate"></div>
  </div>    
  <div id="divMessageTo"></div>
  <div id="divMessageCC"></div>    
  <div id="divMessageBCC"></div>
  <ul class="message-actions">
    <li><span class="link" id="spnReply">Reply</span></li>
    <li><span class="link" id="spnReplyAll">Reply All</span></li>
    <li><span class="link" id="spnForward">Forward</span></li>  
    <li id="liAttachments"><a href="#attachments">View Attachments</a></li>                                              
   </ul>             
  <div id="divMessageBody"></div>
  <a name="attachments" id="aAttachments">Attachments</a>
  <div id="divMessageAttachments">
    <ul id="ulAttachments">
    </ul>
  </div>
</div>