<div id="divReadMail">
  <div class="header">
      <h1 id="hSubject">{{readMail.subject}}</h1>
  </div>
  <div class="message-headers">
    <div id="divMessageFrom">{{readMail.from}}</div>
    <div id="divMessageDate">{{readMail.date}}</div>
  </div>    
  <div id="divMessageTo">{{readMail.to}}</div>
  <div id="divMessageCC">{{readMail.cc}}</div>    
  <div id="divMessageBCC">{{readMail.bcc}}</div>
  <ul class="message-actions">
    <li><span class="link" id="spnReply">Reply</span></li>
    <li><span class="link" id="spnReplyAll">Reply All</span></li>
    <li><span class="link" id="spnForward">Forward</span></li>  
    <li id="liAttachments"><a href="#attachments">View Attachments</a></li>                                              
   </ul>             
  <div id="divMessageBody"></div>
  <a name="attachments" id="aAttachments">Attachments</a>
  <div id="divMessageAttachments">
    <ul id="ulAttachments">
    </ul>
  </div>
</div>