<form class="login-form">
	<div>
		<label for="login_usermane">Email</label>
		<input type="email" id="login_username" placeholder="Email" class="forminputtext"/>
	</div>
	<div class="divformargin">
		<label for="login_password">Password</label>
		<input type="password" id="login_password" placeholder="Password" 
			class="forminputtext"/>
	</div>
	<div class="divformargin">
		<label for="login_password_confirm">Confirm password</label>
		<input type="password" id="login_password_confirm" placeholder="Confirm password" 
			class="forminputtext"/>
	</div>
	<div>
	<input type="submit" value="register" class="button submit" ng-mousedown="expression" 
		ng-mouseup="expression">
	</div>
</form>