<div class="">
	<span ng-shw="regForm.loginUsername.required">Username required</span>
	<span ng-sow="regForm.$error.required">two passwords not equle</span>
	<span class="errormessage" ng-show="valid.usernameExisted">usernameExisted</span>
</div>
<form name="regForm" class="login-form" novalidate>
	<div class="">
		<label for="login_usermane">Username</label>
		<input type="text" id="login_usermane" name="loginUsername" 
		  placeholder="Username" ng-model="account.username" required
		  ng-blur="verifyUsername();" class="forminputtext relative">
			<img src="/images/verifying.gif" class="verifying" ng-show="valid.verifying">
		</input>
		<span class="invalid" ng-show="!valid.usernameValid">*</span>
		<span class="valid" ng-show="valid.usernameValid">√</span>
	</div>
	<div class="divformargin">
		<label for="login_password">Password</label>
		<input type="password" id="login_password" name="loginPassword" 
		  placeholder="Password" class="forminputtext" ng-model="account.password" 
		  ng-minlength='3' ng-maxlength="8" required />
		<span class="invalid" ng-show="regForm.loginPassword.$invalid">*</span>
		<span class="valid" ng-show="regForm.loginPassword.$valid">√</span>
	</div>
	<div class="divformargin">
		<label for="login_password_confirm">Confirm password</label>
		<input type="password" id="login_password_confirm" name="loginPasswordConfirm" 
		  placeholder="Confirm password" class="forminputtext" 
		  ng-model="account.confirmPassword" ng-minlength='3' ng-maxlength="8" required
		  ng-change="verifyConfPassword()"/>
		<span class="invalid" ng-show="!valid.confPasswordvalid">*</span>
		<span class="valid" ng-show="valid.confPasswordvalid">√</span>
	</div>
	<div>
		<input type="submit" value="register" ng-disabled="!regForm.$valid" 
		  ng-submit="submitForm()" ng-class="submitClass">
	</div>
</form>
<div class="jump">
	<span>I have a account.</span>
	<a href="#/signin" class="button submit">Sign in</a>
</div>