<form class="login-form">
	<div>
		<label for="login_usermane">Email</label>
		<input type="email" id="login_username" placeholder="email" class="forminputtext" />
	</div>
	<div class="divformargin">
		<label for="login_password">Password</label>
		<input type="password" id="login_password" placeholder="password" 
			class="forminputtext"/>
	</div>
	<div>
		<input type="submit" value="Sign in" class="button submit">
	</div>
</form>
<div class="jump">
	<span>Not have a account?</span>
	<a href="#/register" class="button submit">Register</a>
</div>